<div class="row">
<div class="row_1">
<table>
    <tr>
     <th> TASK  </th>
     <th> DATE </th>
    <th> STATUS </th>
     <th> DELETE </th>
    </tr>

<%= for i in 0...@todo_list.length do%>
<tr>
   <td><%= @todo_list[i].task%></td>

   <td><%= @todo_list[i].date%></td>
  
   <% if @todo_list[i].status == false || @todo_list[i].status == 'null' %>
    <td><a href="/todos/update/ <%= @todo_list[i].id%>"><button >Mark as Complete</button></a></td>
<% else %>
     <td><button>Completed</button></td>
<% end %>

   <td><%= link_to "DELETE", "/delete/#{@todo_list[i].id}", data: {confirm: "Are you sure to delete ?"}%></td>
</tr>
<%end%>
</table>
</div>
</div>

